@import "vars.scss";

@mixin fontSize( $fw:400, $size:$size, $font:$font){
   font-size: $size;
   font-weight: $fw;
   font-family: $font;
}

// адаптивное свойство font-size: clamp(24px, 5vw, 50px);

// @mixin adaptFont ($min:24px, $max:50px) {
//    font-size: clamp($min, 5vw, $max);
// }
// @mixin adaptMargin ($min:5px, $max:20) {
//    margin:  clamp($min, 5vw, $max);
// }



@mixin h1 {
   font-family: $font1;
   font-style: normal;
   font-weight: normal;
   font-size: 50px;
   line-height: 44px;
   text-align: center;
   color: $ch1;
   letter-spacing: 3px;
   text-transform: uppercase;
}

@mixin h2 {
   font-family: $font1;
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 36px;
color:$cH;
text-align: center;
text-transform: uppercase;
}

@mixin h3 {
   font-family: $font;
font-style: normal;
font-weight: 400;
font-size: 18px;
color:$cH;
line-height: 30px;
text-transform: uppercase;
}


