// адаптивное свойство font-size: clamp(24px, 5vw, 50px);

$size: 15px;
$font:'Open Sans', sans-serif;
$font1:'Oswald', sans-serif;
// $pad: 0 20px;
$mxw: 1440px; // максимальная ширина
$minw:320px; //минимальная ширина


$cH: #313131;  //шрифт заголовков
$ch1: #fff;
$cP: #000; //шрифт
$cBtn:#CF404D;
$colBg:#FAFAFA;
$colBb2: #2D3E4F;


