<footer class="footer">
   <h2 class="footer__title">Contact form</h2>
   <p class="footer__info">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium soluta totam alias perspiciatis autem sapiente quibusdam eius consequuntur eligendi rem!
   </p>
   <form  class="footer__form contact-form">
      <input type="text" class="contact-form__input" name="name" placeholder="Name">
      <input type="text" class="contact-form__input" name="email" placeholder="Email">
      <textarea name="massege" id="" cols="30" rows="10" class="contact-form__textarea" placeholder="Messege"></textarea>
      <button class="btn-red">Send</button>
   </form>
<div class="copy">NATALIA OFICEROVA</div>
   
    
      
</footer>