<section class="gallery">
   <h2 class="gallery__title">Gallery</h2>
   <p class="gallery__info">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe molestiae blanditiis quisquam doloremque vel est ut omnis eligendi magnam minus.
   </p>
   <div class="gallery__box">
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
      <div class="gallery__item">
         <img src="../../images/gallery.jpg" alt="images" class="gallery__img">
      </div>
   </div>
  

</section>