<nav class="nav">
   <ul class="menu">
      <li class="menu__list">
         <a href="#" class="menu__link">Пункт меню 1</a>
      </li>
      <li class="menu__list">
         <a href="#" class="menu__link">Пункт меню 2</a>
      </li>
      <li class="menu__list">
         <a href="#" class="menu__link">Пункт меню 3</a>
      </li>
      <li class="menu__list">
         <a href="#" class="menu__link">Пункт меню 4</a>
      </li>
   </ul>
   <div class="nav__burger">
      <span></span>
      <span></span>
      <span></span>
   </div>
</nav>