<section class="skils" >
   
      <h2 class="skils__title">My skils</h2>
   <p class="skils__info">ggggggggggg gggg jjjgkygkuy ggg </p>
   <div class="skils__box">
      <div class="skils__item skil">
         <img src="../../images/html.svg" alt="" class="skil__img">
         <h3 class="skils__title">верстка</h3>
         <p class="skil__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, reiciendis?
         </p>
         <a href="#" class="lern_more">lern more</a>

      </div>
      <div class="skils__item skil">
         <img src="../../images/html.svg" alt="" class="skil__img">
         <h3 class="skils__title">верстка</h3>
         <p class="skil__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, reiciendis?
         </p>
         <a href="#" class="lern_more">lern more</a>

      </div>
      <div class="skils__item skil">
         <img src="../../images/html.svg" alt="" class="skil__img">
         <h3 class="skils__title">верстка</h3>
         <p class="skil__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, reiciendis?
         </p>
         <a href="#" class="lern_more">lern more</a>

      </div>
      <div class="skils__item skil">
         <img src="../../images/ajax.svg" alt="" class="skil__img">
         <h3 class="skils__title">ajax</h3>
         <p class="skil__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, reiciendis?
         </p>
         <a href="#" class="lern_more">lern more</a>

      </div>
   </div>


   
</section>